doctype html 
head
  title ORNL Scientific Workspace
  link(id="bs-css", href="/doi/css/bootstrap-cerulean.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/bootstrap-responsive.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/charisma-app.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery-ui-1.8.21.custom.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/fullcalendar.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/fullcalendar.print.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/chosen.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/uniform.default.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/colorbox.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery.cleditor.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery.noty.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/noty_theme_default.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/elfinder.min.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/elfinder.theme.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/jquery.iphone.toggle.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/opa-icons.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/uploadify.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/dynatree/ui.dynatree.css", rel="stylesheet",type="text/css")
  link(href="/doi/css/modal.css" rel="stylesheet")
  script(src="/doi/js/core.js")
    
    
html
  body
    
    form#myform(method="post",action="/aa")
      input(type="text",name="username")
      input(type="submit")
    
      
            
    script(src="/doi/js/jquery/jquery-1.7.2.min.js")
    script(src="/doi/js/jquery/jquery-ui-1.8.21.custom.min.js")
    script(src="/doi/js/bootstrap/bootstrap-transition.js")
    script(src="/doi/js/bootstrap/bootstrap-alert.js")
    script(src="/doi/js/bootstrap/bootstrap-modal.js")
    script(src="/doi/js/bootstrap/bootstrap-dropdown.js")
    script(src="/doi/js/bootstrap/bootstrap-scrollspy.js")
    script(src="/doi/js/bootstrap/bootstrap-tab.js")
    script(src="/doi/js/bootstrap/bootstrap-tooltip.js")
    script(src="/doi/js/bootstrap/bootstrap-popover.js")
    script(src="/doi/js/bootstrap/bootstrap-button.js")
    script(src="/doi/js/bootstrap/bootstrap-collapse.js")
    script(src="/doi/js/bootstrap/bootstrap-carousel.js")
    script(src="/doi/js/bootstrap/bootstrap-typeahead.js")
    script(src="/doi/js/bootstrap/bootstrap-tour.js")
    script(src="/doi/js/jquery/jquery.cookie.js")
    script(src="/doi/js/fullcalendar.min.js")
    script(src="/doi/js/jquery/jquery.dataTables.min.js")
    script(src="/doi/js/excanvas.js")
    script(src="/doi/js/jquery/jquery.flot.min.js")
    script(src="/doi/js/jquery/jquery.flot.pie.min.js")
    script(src="/doi/js/jquery/jquery.dataTables.min.js")
    script(src="/doi/js/jquery/jquery.flot.stack.js")
    script(src="/doi/js/jquery/jquery.flot.resize.min.js")
    script(src="/doi/js/jquery/jquery.chosen.min.js")
    script(src="/doi/js/jquery/jquery.uniform.min.js")
    script(src="/doi/js/jquery/jquery.colorbox.min.js")
    script(src="/doi/js/jquery/jquery.cleditor.min.js")
    script(src="/doi/js/jquery/jquery.noty.js")
    script(src="/doi/js/jquery/jquery.elfinder.min.js")
    script(src="/doi/js/jquery/jquery.raty.min.js")
    script(src="/doi/js/jquery/jquery.iphone.toggle.js")
    script(src="/doi/js/jquery/jquery.autogrow-textarea.js")
    script(src="/doi/js/jquery/jquery.uploadify-3.1.min.js")
    script(src="/doi/js/jquery/jquery.history.js")
    script(src='/doi/js/tablesorter-master/js/jquery.tablesorter.js')
    script(src="/doi/js/charisma.js")
    script(src="/doi/js/jquery/jquery.dynatree.min.js")
    script(src="/doi/js/main.js")
    script(src="/doi/js/ajax/doi.js")
    // script(src="js/ajax/jobtree.js")
    // script(src="js/ajax/filetree.js")
    // script(src="js/ajax/jobs_widget.js")
    // script(src="js/ajax/userinfo.js")
    // script(src="js/ajax/tagTree.js")
    // script(src="js/ajax/tagstable.js")
    // script(src="js/ajax/tagclouds.js")
    // script(src="js/addtag.js")
