doctype html

html
  head
    link(href="css/ui.fancytree.css", rel="stylesheet", type="text/css")

body
  div#myTree(style="width:300px;height:300px")


  script(src='js/jquery-1.7.2.min.js')
  script(src='js/jquery-ui-1.8.21.custom.min.js')
  script(src='js/jquery.fancytree.js')
  script(src='js/main.js')