
doctype 5
head
  title Example read tag app
  link(href="css/styles.css",rel="stylesheet",type="text/css")
  script(src='js/jquery-1.7.2.min.js')
  script(src='js/tablesorter-master/js/jquery.tablesorter.js')
body
  h3 Tags Table
  div#tagsTableContainer(style="height:250px;width:auto;overflow:auto")
    table#tagsTable
      thead
        tr
          th Tag Name
          th Description
          th Tag Associaton(s)
          th Association Type(s)
          th Create Time
      tbody
  br
  h4 Job Details
  div#displayPanel(style="border:3px solid lightblue;width: 50%")  
  script(src="js/tagsTable.js")