
doctype 5
head
  title Example add submission app

  //link(href="http://localhost:8001/css/dynatree/ui.dynatree.css" rel="stylesheet" type="text/css")
  //link(href="css/bootstrap/bootstrap.css" rel="stylesheet")
  //link(href="css/modal.css" rel="stylesheet")
  
html
  body
    
    div Submitted
    div #{b}
      
    script(src='js/core.js')
    script(src='js/jquery-1.7.2.min.js')
    script(src='js/jquery-ui-1.8.21.custom.min.js')
    script(src='js/jquery.dynatree.min.js')
    script(src="js/bootstrap/bootstrap.min.js") 
    script(src='js/bootstrap/bootstrap-combobox.js')
    script(src="js/tree_options/multiselect.js") 
    script(src="js/tag_autocomplete.js") 
    script(src="js/formtest.js") 
    
           
          
          
  
    