script(src="js/jquery-1.7.2.min.js")
script(src="js/jquery-ui-1.8.21.custom.min.js")
script(src="js/color.js")

span#user_id_label label 
span#user_id_label #{a}

div(id="main") 
	h3(id="header" style="color: #{color}") Hello World
	input(type="text" id="text1")
	input(type="button" id="button1" value="Push")
	<!--input(type="hidden" id="hiddenField" value="#{color}")-->