doctype html

html
  head
    link(href="css/ui.dynatree.css", rel="stylesheet", type="text/css")
    
  body
    div#myJobsTree(style="width:300px;height:300px")

    script(src='js/jquery-1.7.2.min.js')
    script(src='js/jquery-ui-1.8.21.custom.min.js')
    script(src='js/jquery.dynatree.min.js')
    
    script(src='js/core.js')
    script(src='js/jobinfo.js')
    script(src='js/main2.js')