link(href="css/styles.css", rel="stylesheet")

script(src="js/jquery-1.7.2.min.js")
    
html(lang="en")
  body
    
    div.container-fluid
      h2 Feed
    div#feed
      div hello
   
      
script(src="js/feed.js")