{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
	<meta content="utf-8" http-equiv="encoding" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="" />
	<meta name="author" content="" />

 	<head>
 	
 		<title>ORNL Constellation</title> 
		<!-- 
	  	<link id="bs-css" href="{% static 'common/css/bootstrap-cerulean.css' %}" rel="stylesheet" type="text/css" ></link>
	  	 -->
 		<link id="bs-css", href="{% static 'common/css/bootstrap-classic.css' %}", rel="stylesheet", type="text/css" ></link>
		 
	  	<link id="bs-css", href="{% static 'common/css/bootstrap-classic.css' %}", rel="stylesheet", type="text/css" ></link>
	    <link href="{% static 'common/css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/charisma-app.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/jquery-ui-1.8.21.custom.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/fullcalendar.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/fullcalendar.print.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/chosen.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/uniform.default.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/colorbox.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/jquery.cleditor.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/jquery.noty.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/noty_theme_default.css' %}" rel="stylesheet" type="text/css"></link>
	    <link href="{% static 'common/css/elfinder.min.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/elfinder.theme.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/jquery.iphone.toggle.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/opa-icons.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/uploadify.css' %}" rel="stylesheet" type="text/css" ></link>
	    <link href="{% static 'common/css/dynatree/ui.dynatree.css' %}" rel="stylesheet" type="text/css"></link>
	    <link href="{% static 'common/css/modal.css' %}" rel="stylesheet"></link>
	  
	    <link href="{% static 'common/css/DataTables/jquery.dataTables_themeroller.css' %}" rel="stylesheet"></link>
	    <link href="{% static 'common/css/DataTables/jquery.dataTables.css' %}" rel="stylesheet" ></link>
	    <link href="{% static 'common/css/DataTables/ColVis/ColVis.css' %}" rel="stylesheet"></link>
	  
	  	<style>
	  	.invisible { /* display:none */ }
	  	
	  	</style>
	  
	    <script src="{% static 'common/js/jquery/jquery-1.7.2.min.js' %}"></script> 
	    <script src="{% static 'common/js/jquery/jquery-ui-1.8.21.custom.min.js' %}"></script>
	    
	    <script src="{% static 'common/js/core2.js' %}"></script>
	    <script src="{% static 'common/js/sampledata.js' %}"></script>
 	
 	</head>


<body>

	
	<!--  
	<div style=""> 
	-->
	<div style="display:none"> 
	
	<div>Creator NID: <span id="creator_nid">{{ creator_nid }}</span></div>
	<div>Creator UID: <span id="creator_uid">{{ creator_uid }}</span></div>
	<div>Creator Username: <span id="creator_uname">{{ creator_uname }}</span></div>
	<div>Creator Name: <span id="creator_name">{{ creator_name }}</span></div>
	<div>Creator Email: <span id="creator_email">{{ creator_email }}</span></div>
	
	{# <div>hello</div> #}
	{% if personNames %}
		<ul class="">
		{% for personName in personNames %}
    		<li>{{ personName }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	
	{% if groupNames %}
		<ul class="">
		{% for groupName in groupNames %}
	    	<li>{{ groupName }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	
	{% if jobNames %}
		<ul class="">
		{% for jobName in jobNames %}
    		<li>{{ jobName }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	{% if appIds %}
		<ul class="invisible">
		{% for appId in appIds %}
    		<li>{{ appId }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	{% if fileNames %}
		<ul class="">
		{% for fileName in fileNames %}
    		<li>{{ fileName }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	
	{% if nids %}
		<ul class="nids">
		{% for nid in nids %}
    		<li class="nid">{{ nid }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</div>
    
    
	<div class="navbar">
		<div class="navbar-inner">
			<div class="container-fluid">
				<div class="top-nav nav-collapse">
					<div class="row-fluid">
					
						<div class="span12">
							<div class="span11">
								<ul class="nav" style="font-size:15px">
								<li>
		    						<img src="{% static 'common/img/Pleiades.JPG' %}" style="max-width:50px; max-height:40px;"/></link>
			  
		    					</li>
								<li>
		    						<a href="../../settings/{{uname}}">Constellation</a> 
		    					</li>
		    					<!--  
		    					<li>
		    						<a href="../../settings/{{uname}}">{{uname}}</a> 
		    					</li>
		    					-->
								<li>
									<a href="../../workspace/{{creator_uname}}">Workspace</a>
								</li>
								<li>
									<a href="../../doi/{{creator_uname}}">DOI</a>
								</li>
								
								<li>
									<a href="../../search/{{creator_uname}}">Search</a>
								</li>
								<!-- 
								<li>
									<form class="navbar-search pull-left">
										<input class="search-query span2" placeholder="Search this workspace" name="query" type="text">
									</form>
								</li>
								 -->
								</ul>
							</div>
							<div class="span1">
							<ul class="nav" style="font-size:15px">
								<li>
									<a href="../../search/{{creator_uname}}">{{uname}}</a>
								</li>
							</ul>
							</div>
						</div>
					
					
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span12">
				<div>
					<ul class="breadcrumb">
						<li>
							<a href="#"><span id="user_id_label">{{ creator_uname }}</span></a>
							<span class="divider">/</span>
						</li>
						<li>
							<a href="#">DOI</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span12" id="user_info_space"></div>
		</div>
		<div class="row-fluid">
			<div class="span12">
				<div>
					<p class="user_info"></p>
				</div>
			</div>
		</div>
		
		<div class="row-fluid">
			<div class="span2 main-menu-span">
				<div class="well nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li class="nav-header hidden-tablet">
							Main
						</li>
						<li>
							<a href="#" class="ajax-link">
								<span class="hidden-tablet">Manage DOIs</span>
							</a>
						</li>
						<li>
							<a href="#" class="ajax-link">
								<span class="hidden-tablet">Add DOIs</span>
							</a>
						</li>
						<li>
							<a href="#" class="ajax-link">
								<span class="hidden-tablet">Update DOI</span>
							</a>
						</li>
						<li>
							<a href="#" class="ajax-link">
								<span class="hidden-tablet">Search DOIs</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="span8">
				<div class="row-fluid sortable">
					<div class="span12">
						<div class="box span12">
						
							<div class="box-header well">
								<h2>New DOI Form</h2>
								<div class="box-icon">
									<a class="btn btn-minimize btn-round" href="#"><i class="icon-chevron-up"></i></a>
									<a class="btn btn-close btn-round" href="#"><i class="icon-remove"></i></a>
								</div>
							</div>
							
							<div class="box-content">
								<div class="row-fluid">
								<!-- 
									<div class="span12">
										<fieldset>
											legend DOI Submission Form
										</fieldset>
									</div>
								 -->
								</div>
								<div class="row-fluid" style="margin-bottom:20px;">
									<div class="span12">
										<h3>General</h3>
									</div>
								</div>
								<div class="row-fluid">
									<div class="span4">DOI Title</div>
									<div class="span6">
										<input id="text" name="input_title"></input>
									</div>
								</div>
								<div class="row-fluid" style="margin-bottom:20px">
									<div class="span4">
										 Description
									</div>
									<div class="span6">
										<input id="text" name="input_description"></input>
									</div>
								</div>
								<div class="row-fluid" style="margin-bottom:20px;">
									<div class="span12">
										<h3>Creator Information</h3>
									</div>
								</div>
								<div class="row-fluid">
									<div class="span4">Creator</div>
									<div class="span6">
										<input id="text" name="input_creator_name" value="{{creator_name}}"></input>
									</div>
								</div>
								<div class="row-fluid">
									<div class="span4">Creator Email</div>
									<div class="span6">
										<input id="text" name="input_creator_email" value="{{creator_email}}"></input>
									</div>
								</div>
								<!-- 
								<div class="row-fluid" id="add_creator_row">
									<button id="add_creator_button">Add Creator</button> 
								</div>
								 -->
								<div class="row-fluid" style="margin-bottom:20px,margin-top:20px;">
									<div class="span12">
										<h3>Assets</h3>
										<br />
									</div>
								</div>
								<div class="row-fluid" >
									<div class="span4">Files</div>
									<div class="span6">
										<span>
											{% for fileName in fileNames %}
		    									{{ fileName }}
		    									<br>
											{% endfor %}
										</span>
										<!-- <input id="text" name="input_resources" value="aaa"></input>  -->
									</div>
								</div>
								<br />
								<div class="row-fluid" style="margin-bottom:20px;">
									<div class="span12">
										<h3>Keywords</h3>
									</div>
									
								</div>
								<div class="row-fluid">
									<div class="span4">Keywords (comma separated list)</div>
									<div class="span6">
										<input id="text" name="input_keywords" value=""></input>
									</div>
								</div>
								<br />
								
								<div class="row-fluid" style="margin-bottom:20px">
									<div class="span12">
										<h3>Miscellaneous</h3>
									</div>
								</div>
								<!-- 
								<div class="row-fluid"  style="margin-bottom:10px;">
									<div class="span4">Resources</div>
									<div class="span6">
										
										
									</div>
									<div class="span2"></div>
								</div>
								 -->
								<div class="row-fluid">
									<div class="span4">Language</div>
									<div class="span6">
										<input id="text" name="input_language" value="English"></input>
									</div>
								</div>
								<div class="row-fluid">
									<div class="span4">Sponsor Organization</div>
									<div class="span6">
										<input id="text" name="input_sponsor_org" value="Oak Ridge National Laboratory"></input>
									</div>
								</div>
								<!-- 
								<div class="row-fluid">
									<div class="span4">Jobs and Applications</div>
									<div class="span6">
										<textarea>{{personNames}} | {{groupNames}}</textarea>
									</div>
								</div>
								 -->
								<hr>
								<div class="row-fluid">
									<button id="submit_doi_request">Submit DOI Request</button>
									<button id="return">Return to Workspace</button>
								</div>
							</div>
						
						</div>
					</div>
				</div>
			</div>
		
		</div>
		
	</div>
	
	
	
	<script src="{% static 'doi/js/main.js' %}"></script>
	<!--  
	<script src="{% static '/doi/js/ajax/doi.js' %}"></script>
 	-->



</body>

</html>